@model IEnumerable<MvcWebMusica2.Models.Albumes>

@{
    ViewData["Title"] = "Albumes Y Canciones";
}

<h1>Albumes Y Canciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generos)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-dark bg-opacity-25">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupos!.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Generos!.Nombre)
                </td>
            </tr>
            <tr>
                @await Component.InvokeAsync("ListaCanciones", item.Id)
            </tr>
        }
        </tbody>
    </table>
