@model IEnumerable<MvcWebMusica2.Models.Albumes>

@{
    ViewData["Title"] = "Albumes Y Canciones";
}

<h1 class="text-center">Albumes Y Canciones</h1>

<table class="table table-bordered border-primary table-hover">
    <thead class="bg-dark bg-opacity-75 text-light">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Generos)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-info bg-opacity-25">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupos!.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Generos!.Nombre)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    @await Component.InvokeAsync("CancionesPorAlbum", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
